.app {
  font-family:
    "PingFang SC",
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgb(0, 0, 0);
}

.app h1 {
  font-size: 32px;
  font-weight: 700;
}

.app p {
  font-weight: 400;
}
